# Ignorar archivos de audio
*.mp3
*.m4a
*.wav
*.ogg
*.flac
*.aac
*.webm

# Ignorar carpetas de salida (como la que usas para guardar MP3s)
Mi_musica/
output/
downloads/
Downloaded Music/

#ignorar ffmpeg
src/ffmpeg/


# Archivos temporales
*.tmp
*.log

# Python
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
venv/
.env/

# Archivos de sistema
.DS_Store
Thumbs.db

# VSCode config
.vscode/

# PyInstaller build folders
/build/
src/build/
src/dist/
/__pycache__/



# Logs
*.log

# Virtual environment (si usas uno en la carpeta del proyecto)
venv/
.env/

# Archivos temporales
*.pyc
*.pyz
*.pyo
/*.spec
*.spec
*.toc
*.pkg
*.~*